body{
    font-family: sans-serif;
	margin: 0;
	background-image: linear-gradient(to bottom, #00bcd499, #d8f0a9d1);
	zoom: 71%;
}
.content{
	margin: auto;
	display: table;
	padding: 5%;
}
.jogo{
	cursor: pointer;
	border: solid black;
	padding: 1%
}
.jogo a{
	padding: 1%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
   	background-color: rgba(18, 18, 18, 0.62);
}

p.tit{
    text-align: center;
    color: red;
    font-size: 45px;
    font-weight: 900;
    color: yellow;
}
p.subTit{
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: 600;
    color: purple;
}

.modal-conteudo {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.audioBtn{
	color: #5d5581;
    float: right;
    font-size: 86px;
    font-weight: 900;
    cursor: pointer;
    margin: 0 0 0 30px;
}

.audioBtn:hover{
    color: yellow;
}

p#text{
    font-size: 26px;
}

p.tituloModal{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color: purple;
}

.closeBtn {
    color: #fff;
    float: initial;
    font-size: 80px;
    font-weight: 900;
    margin: auto;
    display: table;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #ff4d4d;
    text-decoration: none;
    cursor: pointer;
}